// Specific CSS for your home-page
body {
  background-color: #172938;
}

div.home-song {
  border: 20px;
  background-color: yellow;
  width: 50%;
  text-align: center;
}
div.home-playlist {
  border: 20px;
  background-color: orangered;
  width: 50%;
  text-align: center;
}

.btn-home-sg {

}

.btn-home-pl {

}
