<div class="container">
  <div class="home-song">
    <%= link_to "Add a new song", new_song_path%>
  </div>
  <div class="home-playlist">
    <%= link_to "See playlist", playlist_path%>
  </div>
</div>



