.form-inputs {
  border-radius: 25px !important;
}

.button-song {
  border: 1px;
}

.new-form {
  margin-top: 50%;
  padding: 20px;
}

.container-form {
  background-color: #1F5C87;
}

.form-group {
  margin-bottom: 4rem !important;
}

.label {
  color: white !important;
  font-size: 16px !important;
}

.btn-song {
  border: 1px;
  border-radius: 20px;
  background-color: yellow;
  color: #1F5C87;
}


