.form-inputs {
  border-radius: 25px !important;
}

.new-form {
  margin-top: 50%;
  padding: 20px;
}

.container-form {
  background-color: #1F5C87;
  border-radius: 25px;
}

.form-group {
  margin-bottom: 4rem !important;
}
.form-control {
  border-radius: 25px !important;
}

label {
  color: white !important;
  font-size: 24px !important;
}

.btn-song {
  border: 1px;
  border-radius: 20px;
  background-color: yellow;
  color: #1F5C87;
  font-size: 24px;
}

.input-form {
  border-radius: 25px;
}


