<div class="container">
  <div class="playlist-show text-center">
  <h4><%= @playlist.name %> 🎹</h4>
    <ul>
      <% @playlist.songs.each do |song| %>
        <li class="song-line"><%= song.title %> - <%= song.artist %></li>
      <% end %>
    </ul>
    <%= link_to "Add a new song", new_song_path, class: "btn-song-pl"%>
  </div>
</div>
